* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Floyd';
  src: url('../fonts/floyd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Irish Grover';
  src: url('../fonts/IrishGrover-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  background: url('../images/dark-side-the-wall.jpg') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 98vh;
  position: relative;
  z-index: 1;  
}

h1 {
  font-family: 'Floyd', 'Arial';
  color: white;
}

h3 {
  color: black;
}

p {
  font-family: 'Floyd', 'Arial';
  color: white;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  z-index: -1; 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Floyd', 'Arial'; 
  padding: 1rem 5vw;
}

.logo {
  max-width: 10vw;
  width: 100%;
  height: auto;
  margin-top: 6.5vh;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-top: 5vh;
  margin-right: 6vw;
}

.nav-list li { 
  letter-spacing: 3px;
  margin-left: 3vw;
}

.nav-list li a { 
  text-decoration-line: none;
  font-size: 1.5vw;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  2px 2px 0 #000;
}

.light { 
  position: absolute;
  margin-top: 6vh;
  margin-left: 6vw;
  z-index: -1;
}

.light img {
  width: 80vw;
}

.home {
  color: #FDFF00;
}

.members {
  color: #33CA00;
}

.history {
  color: #CC102D;
}

.albuns {
  color: #1293C5;
}

.songs {
  color: #7643E5;
}

.pink-floyd {
  position: absolute;
  margin-top: 3vw;
  margin-left: 2vw;;
}

.pink-floyd img {
  margin-left: 2vw;
  width: 35vw;
}

.pink-text {
  background-image: linear-gradient(to right,  #CC102D 18.17%, #FFAD00 33.35%, #FDFF00 46.24%, #33CA00 60.87%, #1293C5 75.5%, #5C30BD 92.11%);
  -webkit-background-clip: text;
  display: flex;
  color: transparent;
  position: absolute;
  text-align: center;
  font-family: Floyd;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; 
  text-transform: uppercase;
  margin-top: 45vh;
  margin-left: 16.5em;
  max-width: 80px;
  min-width: 15em;
  -webkit-text-stroke: 1px black;
}

.down_arrow {
  position: absolute;
  top: 97%; /* ou outro valor que você acha que é mais adequado */
  left: 50%; /* Centralizar Horizontalmente */
  transform: translateX(-50%);
}


.history-page {
  background: url('../images/members.png') no-repeat center center;/* Sombra */
  padding: 2vw;
  background-size: cover;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about-header {
  color: white;
  margin-top: 4rem;
  font-size: 3.5vw;
  font-family: 'Floyd', 'Arial';
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  2px 2px 0 #000;
}

.about-text {
  display: flex; 
  justify-content: space-around; 
}

.about-text p {
  font-family: 'Irish Grover', 'Arial';
  margin-top: 7rem;
  width: 40%;
  font-size: 1.6em;  
  color: white; 
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  2px 2px 0 #000; 
  text-align: justify;
}

.members-content {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, #1b1a1a 60%, #2b2929 75%, #333 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 150vh;
}

.members-content h1 {
  margin-top: 7rem;
  font-size: 4vw;
}

.members-images {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  width: 90vw;
  margin-bottom: 10rem;
}

.members-images h3 {
  margin-bottom: 3rem;
  position: absolute;
  color: white;
  margin-left: 3rem;
  font-size: 30px;
  font-family: 'Irish Grover', 'Arial';
}

.members-images-right h3 {
  margin-bottom: 3rem;
  position: absolute;
  color: white;
  margin-left: 3rem;
  font-size: 30px;
  font-family: 'Irish Grover', 'Arial';
  right: 10rem;
}

.members-images img {
  border-radius: 50%; 
}

.line {
  position: relative;
  height: 2px; 
  width: 50px; 
  background-color: white; 
  margin: 0 10px; 
  width: 300%;
}

.left-text {
  font-family: 'Irish Grover', 'Arial';
  position: absolute;
  margin-top: 17rem;
  left: 10rem;
  font-size: 18px;
  width: 43rem;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  2px 2px 0 #000; 
  text-align: justify;
}

.right-text {
  font-family: 'Irish Grover', 'Arial';
  position: absolute;
  margin-top: 17rem;
  font-size: 18px;
  text-align: justify;
  width: 43rem;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  2px 2px 0 #000; 
  right: 10rem;
  
}

.members-image {
  height: 20vw;
  width: 20vw;
  box-shadow:  
  -1px -1px 0 white,  
  1px -1px 0 white,
  -1px 1px 0 white,
  2px 2px 0 white;
}

.dark-side {
 display: flex;
 flex-direction: row;
 justify-content: center;
 position: relative;
 height: 98vh;
 background-color: black;
}

.prev, .next {
  position: absolute;
  transform: translateY(25rem); 
  font-size: 6rem; 
  color: #FFF; 
  cursor: pointer;
  user-select: none;
  padding: 10px;
  z-index: 2;  
}

.prev { 
  left: 8rem; 
} 

.next { 
  right: 8rem; 
} 

.prev:hover, .next:hover {
  background-color: rgba(85, 101, 131, 0.9); /* Aumenta a opacidade ao passar o mouse, ajuste conforme necessário */
}

.album-frame {
  background-color: #f4f1e9;
  height: 87vh;
  width: 45vw;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

.album-firt-line {
  background-color: black;
  height: 2px; 
  width: 75%;
  align-self: center;
}

.album-last-line {
  background-color: black;
  height: 3px; 
  width: 75%;
  align-self: center;
}

.album-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 2rem 10rem 0.2rem 10rem;
  
}
.album-header p {
  font-weight: 100;
  text-transform: uppercase;
}

.album-frame p {
  position: relative;
  color: black;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;  
}

.album-frame h1, h2 {
    color: black;
    font-family: "Nunito";
    font-size: 30px;    
    text-transform: uppercase;
    font-weight: 100;
}

.album-band {
  width: 10em;
  margin: 1rem 2rem 0rem 10rem;
  font-style: italic;
  
}

.album-title {
  color: black;
  text-align: center;
  font-size: 25px;
  font-style: normal;  
  line-height: normal;
  text-transform: uppercase;
  margin: 0.1rem 1em 0rem 3rem;
  font-weight: 1000;
}

.album-cover {
  margin-top: 1rem;
  align-self: center;
  height: 55%;
  width: 65%; 
}

.disc-songs {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.songs-list {
  margin-top: 0.2rem;
  color: black;
  list-style-type: none;
  counter-reset: list-counter;
  margin-bottom: 1rem;
}

.songs-list li {
  counter-increment: list-counter;
  position: relative;
  text-transform: capitalize;
  font-family: "Nunito";
  margin-bottom: 0.1rem;
}

.songs-list li::before {
  content: counter(list-counter) "-";
}

.side-a, .side-b {
  font-family: "Nunito";
}

.the-wall {
  background: url('../images/The-wall.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 98vh;
}

.album-header-the-wall p{
  color: white;
}

.the-wall-frame {
  background-color: black;
  margin-top: 3rem;
  height: 90vh;
}

.prev-the-wall, .next-the-wall {
  color: #1B1B1B;
}

.songs-list-wall li {
  color: white;
  font-size: 11px;
}

.the-wall-line {
  background-color: white;
}

.cd h3{
  margin-top: 1rem;
  color: white;
  font-size: 15px;
}

.the-wall-frame h1 {
  color: white;
}

.album-title-the-wall {
  color: white;
  margin-right: 4rem;
}

.music-section {
  background: url("../images/song-background.jpg") no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
}

.music-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 55%;
  margin-right: 45rem;
  margin-top: 5rem;
  border-radius: 10%;
  background: linear-gradient(to right, #1d1e1f, #3a3d41);
}

.music-player button {
  padding: 10px 12px;
  margin: 0 10px;
}

.music-player .music-logo {
  position: absolute;
  top: 2rem;
  left: 3rem;
  font-size: 25px;
  color: #ccc;
  text-transform: capitalize;
  font-family: "Nunito";
  margin-top: 1rem;
}

.music-player .music-logo i {
  margin-right: 15px;
}

.right, .left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disk {
  position: relative;
  height: 340px;
  display: block;
  width: 340px;
  border-radius: 50%;
  margin-left: 1.7rem;
  margin-bottom: 2rem;
  box-shadow: 1px 0px 20px 12px rgba(255, 255, 255, 0.2);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}

.disk::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
}

input[type="range"]{
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #FF8A65;
  border-radius: 50%;
  cursor: pointer;
}

.right [type="range"]{
  width: 40%;
}

.left .volume {
  position: absolute;
  bottom: 18%;
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;  
}

.left .volume p {
  font-size: 1rem;
  font-family: "Nunito";
}

.left .volume i {
  cursor: pointer;
  padding: 2px 8px;
}


.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
}

.right .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .middle button{
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(245, 245, 245, 0.1);
}

.right #title {
  position: absolute;
  top: 6rem;
  width: 15rem;
  margin-right: 1rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Nunito";
}

.right .duration {
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  margin-top: 40px
}

.right .duration p {
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

.right #auto{
  font-size: 1rem;
  cursor: pointer;
  margin-top: 45px;
  border: none;
  padding: 10px 14px;
  color: white;
  background-color: rgba(245, 245, 245, 0.1);
  outline: none;
  border-radius: 10px;
}

.right #auto i{
  margin-left: 8px;

}

#play{
  background: #FF8A65;
}

.right button:hover {
  background: #FF8A65;
}

.right i:before {
  color: white;
  font-size: 1.5rem;
}

.right .show_song_number {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
}

.show_song_number p{
  font-family: "Nunito";
}

.right .show_song_number p:nth-child(2){
  margin: 0 5px;
}

.footer {
  height: 50vh;
  background: linear-gradient(to right, #000000, #1b1a1a 60%, #1d1b1b 75%, #222121 100%);
  display: flex;
  justify-content: space-evenly;  
}

.footer .headers h1 {
  text-align: center;
  font-family: "Nunito";
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.footer .headers p {
  margin-top: 2rem;
  font-family: "Nunito";
  width: 15rem;
  text-align: justify;
}

.footer .headers p a {
  color: white;
  margin-left: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }  
}
/* Reponsividade */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: 6.5vh;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (max-width: 900px) {
  .light {
    display: none;
  }
  .nav-list {
    margin-top: 60rem;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .nav-list li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    right: 0;
  }

  .nav-list li a { 
    text-decoration-line: none;
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
  }

  .logo {
    max-width: 16vw;
  }

  .pink-text {
    font-size: 1.5rem;
    margin-left: 10em;
  }

  .pink-floyd {
    margin-top: 7vw;
  }

  .about-text p {
    font-size: 1.2em;

  }

  .left-text {
    font-size: 1em;
    width: 30rem;
    left: 8rem;
  }

  .right-text {
    font-size: 1em;
    width: 30rem;
    right: 5rem;
  }

  .members {
    height: 190vh;
  }

  .members-images-right h3 {
    right: 7rem;
  }

  .album-cover {
    height: 30%;
    width: 35%
  }

  .dark-side {
    height: 55vh;
  }

  .album-frame {
    height: 45vh;
    width: 60vw;
  }

  .prev, .next {
    position: absolute;
    transform: translateY(15rem);
    font-size: 6rem;
    color: #FFF;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    z-index: 2;
}

  .next {
    right: 5rem;
  }

  .prev {
    left: 5rem;
  }

  .history-page {
    height: 75vh
  }

  .the-wall {
    height: 55vh
  }

  .prev-the-wall, .next-the-wall {
    color: black;
  }

  .album-frame p {
    font-size: 12px;
  }

  .the-wall-frame {
    width: 65vw;
  }

  .music-section {
    height: 70vh
  }

  .music-player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    /* width: 55%; */
    margin-right: 5rem;
    margin-top: 5rem;
    border-radius: 10%;
    background: linear-gradient(to right, #1d1e1f, #3a3d41);
  }

  .disk {
    display: none;
  }

  .right #title {
    margin-right: 15rem;
    font-size: 2rem
  }

  .middle {
    margin-top: 3rem;
    margin-right: 15rem;

  }

  .right .duration {
    left: 0%;
    bottom: 5rem
  }

  .left .volume {
    bottom: 10%;
    left: 6rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 80vh;
  }
  .light {
    display: none;
  }
  .nav-list {
    margin-top: 60rem;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .nav-list li {
    margin-top: 2rem;
    margin-bottom: 1rem;
    right: 0;
  }

  .nav-list li a { 
    text-decoration-line: none;
    font-size: 5vw;
    margin-top: 5rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .logo {
    display: none;
  }

  .pink-text {
    margin-top: 30rem;
    font-size: 1.5rem;
    margin-left: 1em;
  }

  .pink-floyd {
    display: none;
  }

  .history-page {
    height: 110vh
  }

  .about-text {
    display: block;    
  }

  .about-text p {

    margin-top: 2rem;
    font-size: 1em;
    width: 20rem;
  }

  .about-header {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: center;
  }

  .left-text {
    margin-top: 20rem;
    font-size: 0.9em;
    width: 22rem;
    left: 2rem;
  }

  .right-text {
    
    font-size: 0.9em;
    width: 22rem;
    right: 3rem;
  }

  .nick-mason-text {
    margin-top: 20rem;
  }

  .members {
    height: 190vh;
  }

  .members-content {
    height: 100%;
    margin-top: 0rem;
  }

  .members-content h1 {
    margin-top: -5rem;
    margin-bottom: -5rem;
    font-size: 2rem;
  }

  .members-images {
    margin-bottom: 15rem;
  }

  .members-images h3 {
    margin-left: 6rem;

  }
  
  .members-image {
    display: none;
  }

  .members-images-right h3 {
    right: 7rem;
  }

  .album-cover {
    height: 45%;
    width: 55%
  }

  .dark-side {
    height: 55vh;
  }

  .album-frame {
    height: 40vh;
    width: 60vw;
  }

  .album-firt-line{
    display: none;
  }

  .album-last-line{
    display: none;
  }

  .album-band {
    margin: 1rem 1rem 0rem 4rem;    
  }

  .album-frame h1, h2 {
    font-size: 1.5rem;
  }
  
  .album-title {
    font-size: 18px;
    margin: 0.1rem 1em 0rem 4rem;
  }
  
  .album-header {
    display: none;
  }

  .music-logo {
    display: none;
  }

  .prev, .next {
    position: absolute;
    transform: translateY(10rem);
    font-size: 6rem;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    z-index: 2;
  }

  .next {
    right: 0.9rem;
  }

  .prev {
    left: 0.9rem;
  }

  .disc-songs {
    display: none;
  }

  .the-wall {
    height: 55vh
  }

  .prev-the-wall, .next-the-wall {
    color: black;
  }

  .album-frame p {
    font-size: 12px;
  }

  .the-wall-frame {
    width: 65vw;
  }

  .music-section {
    height: 80vh
  }

  .music-player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 85%;
    margin: 5rem 5rem 0rem 5rem;
    border-radius: 10%;
    background: linear-gradient(to right, #1d1e1f, #3a3d41);
  }

  .disk {
    display: none;
  }

  .right #title {
    margin-right: 10rem;
    font-size: 2rem
  }

  .middle {
    margin-top: 3rem;
    margin-right: 10rem;

  }

  .right .duration {
    left: 0%;
    bottom: 5rem
  }

  .left .volume {
    bottom: 10%;
    left: 6rem;
  }

  .footer {
    display: block;
    height: 110vh;
  }

  .headers {
    margin-left: 1rem;
  }

}
